.bigCounter div{
    display:inline-block;
    font-size: 100px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.776);
    color: white;
    padding: 13px;
    position: relative;


}

.bigCounter{
    display: inline-block;
    margin: auto;
    text-align: center;
}
